<mat-card>
    <mat-action-list>
        <button mat-list-item routerLink="/trainer-dashboard">
            <mat-icon mat-list-icon>event_available</mat-icon> Events
          </button>
          <button mat-list-item routerLink="/trainer-dashboard/players">
            <mat-icon mat-list-icon>contacts</mat-icon> Avaliable Players
          </button>
          <button mat-list-item routerLink="/trainer-dashboard/attendance">
            <mat-icon mat-list-icon>people_alt</mat-icon> Submit Attendance
          </button>
          <button mat-list-item routerLink="/trainer-dashboard/profile">
            <mat-icon mat-list-icon>account_circle</mat-icon> Profile
          </button>

    </mat-action-list>
</mat-card>

