<mat-card>
    <mat-action-list>
        <button mat-list-item routerLink="/player-dashboard">
            <mat-icon mat-list-icon>event_available</mat-icon> Events
          </button>
          <button mat-list-item routerLink="/player-dashboard/trainers">
            <mat-icon mat-list-icon>contacts</mat-icon> Avaliable Trainers
          </button>
          <button mat-list-item routerLink="/player-dashboard/feedback">
            <mat-icon mat-list-icon>assistant</mat-icon> Submit Feedback
          </button>
          <button mat-list-item routerLink="/player-dashboard/profile">
            <mat-icon mat-list-icon>account_circle</mat-icon> Profile
          </button>

    </mat-action-list>
</mat-card>
